<div>
  <p>
    <strong>Nome:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= employee.birth_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Ceular:</strong>
    <%= employee.phone_number_one %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= employee.phone_number_two %>
  </p>

  <p>
    <strong>Salário:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>INSS:</strong>
    <%= employee.inss %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= employee.street %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= employee.number %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= employee.neighborhood %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= employee.city %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= employee.state %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= employee.cep %>
  </p>

</div>
