<div id="<%= dom_id employee %>">
  <p>
    <strong>Fisrt name:</strong>
    <%= employee.fisrt_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= employee.birth_date %>
  </p>

  <p>
    <strong>Phone one:</strong>
    <%= employee.phone_one %>
  </p>

  <p>
    <strong>Phone two:</strong>
    <%= employee.phone_two %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Inss:</strong>
    <%= employee.inss %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= employee.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= employee.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= employee.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= employee.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= employee.state %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= employee.cep %>
  </p>

</div>
